/*Google Fonts link*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;600;700&family=Yeseva+One&display=swap');

/*Some Common and Default Styles Here*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    color:#13103a;
    font-size: 48px;
    line-height: 70px;
    font-weight: 700;
    text-align: center;
}
h2{
    color:#333333;
    font-size: 36px;
    font-weight: 700;
}
h3{
    color:#333333;
    font-size: 24px;
    font-weight: 600;
}
p{
    color: #3e3e3e;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.mr-22{
    margin-right: 22%;
}

span{
    color:#ffad5a;
}
small{
font-size: 16px;
}
.btn{
    background: #ff5959;
    text-decoration: none;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
}
.display-flex{
    display: flex;
}
.half-width{
    width: 50%;
}
.width-33{
    width: 33%;
}
.width-35{
    width: 35%;
}
.width-65{
    width: 65%;
}


/*Banner Section Styles Here*/
#banner-section{
    padding: 0% 8%;
}
.banner-item-1{
padding-top: 120px;
}
.banner-item-1 p{
padding-right: 30%;
margin-top: -30px;
}
.banner-section h1{
    color:#333333;
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    line-height: 80px;
    font-weight: 400;
    padding-left:20px;
    text-align: left;
    border-left: 5px solid #ff5959;
}
.banner-section img{
    width: 70%;
    margin-left: 20%;
    margin-top: 65px;
}

/*Section two css here*/
#section-two{
    padding: 70px 8%;
    background-image: url();
    
}
.section-two img{
width: 35%;
}.section-two p{
font-size: 16px;
}


.sec-two-item-one{
    background: #edf5f6;
    padding: 40px 30px;
    margin-right: 2%;
    border-radius: 30px;
}
.sec-two-item-two{
    background: #FFEEEE;
    padding: 40px 30px;
    margin-right: 2%;
    border-radius: 30px;
}
.sec-two-item-three{
    background: #FFF4D6;
    padding: 40px 30px;
    margin-right: 2%;
    border-radius: 30px;
}

/*Section three start here*/
#section-three{
    margin:50px 3%;
    background-image: url(img/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
}
.section-three img{
    width: 72%;
    padding-left: 15%;
}

/*Section Four Start here*/
#section-four{
    margin: 50px 8%;
    background-image: url(img/Ellipse\ 34.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.section-four img{
    width: 78%;
    padding-bottom: 82px;
}

/*Fotter Section Css here*/

#footer-section{
    background-color: #0B0D17;
    margin-bottom: -20px;
}
.footer-section h1{
    color: #fff;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    padding-top: 30px;
}
.footer-section h1 span{
    color: #FF5959;
}
.footer-section p{
    text-align: center;
    color: #D9DBE1;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 10px;
}
/*Contact Us Section*/
.width-40{
    width: 40%;
}
.width-60{
    width: 60%;
}
#section-five{
    padding: 50px 15%;
}

.contact-item-1{
    margin-left: 11%;
    background: #ecf0f3;
    border-radius: 20px 0px 0px 20px;
    overflow: hidden;
}
.contact-item-1 img{
    width: 100%;
}
.contact-item-1 h3{
    padding-left: 10%;
}
.contact-item-1 p{
    padding: 0% 5% 0% 10%;
}

.contact-item-2 div{
    padding: 20px 0px;
}
.contact-item-2 form{
    background: #FFF4D6;
    margin-right: 20%;
    padding: 20% 35px;
    border-radius: 0px 20px 20px 0px;
}
.contact-item-2 label{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Yeseva One', cursive;
}
input,
textarea {
    outline: none;
    background: #fff4d6;
    font: 1em sans-serif;
    border: none;
    border-bottom: 2px solid #fbe199;
    height: 1.5em;
    width: 100%;
 
}
textarea{
    height: 4.5em;
}
.contact-item-2 .btn{
    height: 45px;
    width: 40%;
}
