/*Google Fonts link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Yeseva+One&display=swap');

/*Some Common and Default Styles Here*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0% 3%;
}

h1{
    color:#13103a;
    font-size: 48px;
    line-height: 70px;
    font-weight: 700;
    text-align: center;
}
h2{
    color:#333333;
    font-size: 36px;
    font-weight: 700;
}
h3{
    color:#333333;
    font-size: 24px;
    font-weight: 600;
}
p{
    color: #3e3e3e;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}
.mr-22{
    margin-right: 22%;
}

span{
    color:#ffad5a;
}
small{
font-size: 16px;
}
.btn{
    background: #ff5959;
    text-decoration: none;
    color: #fff;
    padding: 10px 25px;
    border-radius: 5px;
}
.display-flex{
    display: flex;
}
.half-width{
    width: 50%;
}
.width-33{
    width: 33%;
}
.width-35{
    width: 35%;
}
.width-65{
    width: 65%;
}


/*Banner Section Styles Here*/
#banner-section{
    padding: 0% 5%;
}
.banner-item-1{
padding-top: 120px;
}
.banner-item-1 p{
padding-right: 30%;
margin-top: -30px;
}
.banner-section h1{
    color:#333333;
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    line-height: 80px;
    font-weight: 400;
    padding-left:20px;
    text-align: left;
    border-left: 5px solid #ff5959;
}
.banner-section img{
    width: 70%;
    margin-left: 20%;
}

/*Section two css here*/
#section-two{
    padding: 70px 5%;
    background-image: url();
    
}
.section-two img{
width: 35%;
}.section-two p{
font-size: 16px;
}


.sec-two-item-one{
    background: #edf5f6;
    padding: 40px 30px;
    margin-right: 2%;
    border-radius: 30px;
}
.sec-two-item-two{
    background: #FFEEEE;
    padding: 40px 30px;
    margin-right: 2%;
    border-radius: 30px;
}
.sec-two-item-three{
    background: #FFF4D6;
    padding: 40px 30px;
    margin-right: 2%;
    border-radius: 30px;
}

/*Section three start here*/
#section-three{
    margin:50px 0px;
    background-image: url(img/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
}
.section-three img{
    width: 72%;
    padding-left: 15%;
}

/*Section Four Start here*/
#section-four{
    margin-top:50px;
    margin-left: 5%;
    background-image: url(img/Ellipse\ 34.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
.section-four img{
    width: 78%;
    padding-bottom: 82px;
}